<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Raigslist, Inc.</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

</head>

<h1>Raigslist, Inc.</h1>
<div class="nav">
  <a href="/">Home</a>
  <a href="/newest">Newest</a>
  <a href="/oldest">Oldest</a>
  <a href="/cheapest">Cheapest</a>
  <a href="/priciest">Priciest</a>
  <a href="/random">Random</a>
  <a href="/post">Post Advertisement</a>
</div>

<body>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>