<h2>Welcome to our website!</h2>

<div class="content">
<h2>By Adharsh Babu</h2>
<p>
    This website is a demo to explore the use of technologies such as Node.js, Express, MongoDB, etc. 
    The format of this website may or may not be similar to Craigslist. Even if you think it is, at least this site has nicer UI.
    This is definitely a real company website, and I indulge you to interact with our sellers. Enjoy!
    </p>

</div>

<div class="ascii-art">
    {{cow}}
</div>
